<div class="container-fluid mt-4 mb-3">
  <div class="card-from mt-2">
    <div class="card" style="border: 1px solid #45afaf;">
      <div class="card-header" style="background-color: #45afaf;
          border: 1px solid #45afaf;">
        <p class="mb-0" style="font-size: 13px;">Basic Information Details</p>
      </div>
      <div class="card-body">
    <form  [formGroup]="basciInformation" class="form"  [style.fontSize.px]="11">
    <div class="row">

<div class="col-lg-3 col-md-4 col-sm-6">
    <mat-form-field appearance="outline"  class="w-100">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <mat-form-field appearance="outline"  class="w-100">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <mat-form-field appearance="outline"  class="w-100">
        <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" readonly placeholder="Birth Date" formControlName="birthDate" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <mat-form-field appearance="outline"  class="w-100">
        <mat-label>Gender</mat-label>
        <input matInput placeholder="Gender" formControlName="gender">
      </mat-form-field>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <mat-form-field appearance="outline"  class="w-100">
        <mat-label>Known Language</mat-label>
        <input matInput placeholder="Known Language" formControlName="knownLanguage">
      </mat-form-field>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <mat-form-field appearance="outline"  class="w-100">
        <mat-label>About Your Self</mat-label>
        <textarea matInput formControlName="aboutYourSelf"></textarea>
      </mat-form-field>
</div>

    </div>
    
<div  class="d-flex justify-content-center">
    <button type="submit" mat-flat-button color="accent" (click)="validateForm()" class="m-3">submit</button>
    <button  mat-flat-button color="accent" (click)="resetForm()" class="m-3">Reset</button>

  </div>

</form>
</div>
</div>
</div>


<div class="card-from mt-2">
  <div class="card" style="border: 1px solid #45afaf;">
    <div class="card-header" style="background-color: #45afaf;
        border: 1px solid #45afaf;">
      <p class="mb-0" style="font-size: 13px;">Basic Information Details Table</p>
    </div>
    <div class="card-body">
    <form [formGroup]="informationDetailsForm">
      <div formArrayName="informationDetails">
      <div class="table-responsive mt-1">
        <table class="table table-bordered table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 50px"></th>
              <th scope="col" style="width: 150px">First Name</th>
              <th scope="col" style="width: 150px">last Name</th>
              <th scope="col" style="width: 150px">Birth Date</th>
              <th scope="col" style="width: 150px">Gender</th>
              <th scope="col" style="width: 150px">Know Language</th>
              <th scope="col" style="width: 200px">About Yourself</th>
               
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of informationDetailsForm['controls'].informationDetails['controls']; let i = index"
                [formGroupName]="i">
                <td>
                  <mat-checkbox color="basic" class="form-control form-control-sm" formControlName="isSelected" [checked]></mat-checkbox>

                </td>
                <td>
                  <input class="form-control form-control-sm" type="text" formControlName="firstName">

                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" formControlName="lastName">
                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" formControlName="birthDate">
                </td>
                <td>
                  <input class="form-control form-control-sm" type="text" formControlName="gender">
              </td>
              <td>
                <input class="form-control form-control-sm" type="text" formControlName="knownLanguage">
              </td>
              <td>
                <input class="form-control form-control-sm" type="text" formControlName="aboutYourSelf">
              </td>

            </tr>
            
          </tbody>
        </table>
      </div>
      </div>
      </form>
      <div class=" text-center ">
          <button type="button" class="btn btn-sm btn_primary " (click)="edit()"> Edit</button>
          <button type="button" class="btn btn-sm btn_secondary ml-2" (click)="deleteRow()">Delete Row </button>
        </div>
    </div>

  </div>
</div>
</div>